# Stellar Horizon endpoint (Testnet)
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

# Stellar Soroban RPC endpoint (Testnet)
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Stellar network passphrase
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Deployed Soroban contract addresses
NEXT_PUBLIC_PAYMENT_CONTRACT_ID=
NEXT_PUBLIC_ESCROW_CONTRACT_ID=
